body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(41,140,241,100);
  border: 0px solid rgba(41,140,241,100);
}

.proj1, .proj2, .proj3 {
  background-position:center;
  background-repeat:no-repeat;
  background-image: url(img/figma-1.png);
  border-radius:0px;
  cursor:pointer;
  float:left;
  height:200px;
  margin-bottom:16px;
  mix-blend-mode:normal;
  padding-top:150px;
  position:relative;
  transition:background .1s;
  width:100%
}


hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
